# Neon Postgres
DATABASE_URL=

# Neon Auth
NEON_AUTH_BASE_URL=
NEON_AUTH_COOKIE_SECRET=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
